<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta http-equiv="imagetoolbar" content="no">
    <title>TDS monitoring tool</title>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
	integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" ></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var ctx = document.getElementById('myChart').getContext('2d');
			var chart = new Chart(ctx, {
			    type: 'line',
			    data: {
			        labels: [
				        <% rows.each do |row| %>
				        	<% if type.eql? 'hours' %>
				        	"<%= row['first'] %> <%=row['second'] %>:00",
				        	<% else %>
				        	"<%= row['first'] %> <%=row['hour'] %>:<%=row['second'] %>",
				        	<% end %>
				        <% end %>
			        ],
			        datasets: [{
			        	<% if type.eql? 'hours' %>
			            	label: "Average response time per hour",
			            <% else %>
			            	label: "Average response time per minute",
			            <% end %>
			            backgroundColor: 'aquamarine',
			            borderColor: '#333',

			            data: [
				            <% rows.each do |row| %>
				            	<%= row['timeout'] %>,
				            <% end %>
			            ],
			        }]
			    },
			    options: {}
			});

		    var config = {
		        type: 'pie',
		        data: {
		            datasets: [{
		                data: [
			                <% codes.each do |code| %>
			            		"<%= code['c'] %>",
			            	<% end %>
		                ],
		                backgroundColor: [
		                    'blue',
		                    'red',
		                    'yellow',
		                    'green',
		                    'aqua',
		                    'white',
		                ],
		                label: 'Dataset 1'
		            }],
		            labels: [
		            	<% codes.each do |code| %>
		            		"<%= code['code'] %>",
		            	<% end %>
		            ]
		        },
		        options: {
		            responsive: true
		        }
		    };

		    var config2 = {
		        type: 'pie',
		        data: {
		            datasets: [{
		                data: [
			                <% 
			                sum_first, sum_second, sum_third = 0, 0, 0
			                avg_first, avg_second, avg_third = 0, 0, 0

			            	redirects.each do |redirect| 
			            		sum_first += (redirect['first'].to_s.sub! /(.*)\..*/, '\1').to_i
			            		sum_second += (redirect['second'].to_s.sub! /(.*)\..*/, '\1').to_i
			            		sum_third += (redirect['third'].to_s.sub! /(.*)\..*/, '\1').to_i
			            	end 

			            	avg_first = sum_first / redirects.count
			            	avg_first = avg_first.round

			            	avg_second = sum_second / redirects.count
			            	avg_second = avg_second.round

			            	avg_third = sum_third / redirects.count
			            	avg_third = avg_third.round

			            	%>

			            	<%= avg_first.to_s %>,
			            	<%= avg_second.to_s %>,
			            	<%= avg_third.to_s %>
		                ],
		                backgroundColor: [
		                    'blue',
		                    'red',
		                    'yellow',
		                ],
		                label: 'Dataset 2'
		            }],
		            labels: [
		            	'first',
		                'second',
		                'third'
		            ]
		        },
		        options: {
		            responsive: true
		        }
		    };

			var ctx2 = document.getElementById("chart-area").getContext("2d");
        	window.myPie = new Chart(ctx2, config);

        	var ctx3 = document.getElementById("chart-area2").getContext("2d");
        	window.myPie2 = new Chart(ctx3, config2);

		});
	</script>
</head>
<body>
<div class="container" id="admin-container">
    <div class="jumbotron" style="margin-top: 10px; padding-top: 18px; padding-bottom: 18px; background:#333;  font-family: monospace;">
        <div class="row">
            <h2 class="col-sm-6" id="admin-terminal" style="color: aquamarine;"> TDS monitoring tool</h2>
            <h2 class="col-sm-3"><a style="color:aquamarine; text-decoration: underline;" href="/minutes">minutes</a></h2>
            <h2 class="col-sm-3"><a style="color:aquamarine; text-decoration: underline;" href="/hours">hours</a></h2>
        </div>
    </div>
	<h2><%= h1 %></h2>
	<br>
    <div class="row" style="margin-left: 10px;">
    	<form action="" method="post" style="display:inline-block;">
    		<label for="from">From</label>
    		<input style="margin-right: 25px;" value="<%= Date.today.prev_day %>" id="from" type="date" name="from">
    		<label for="to">To</label>
    		<input style="margin-right: 25px;" value="<%= Date.today.next_day %>" id="to" type="date" name="to">
    		<button class="btn" type="submit">Refresh</button>
    	</form>
    	<div class="media" style="position: absolute; width: 100px; right: 340px; margin-top: -30px;">
			<div class="media-left">
				<div style="background: <%= $running == 'Not running' ? 'red' : 'aquamarine'; %>;width: 20px;height: 20px;border-radius: 50%;"></div>
			</div>
			<div class="media-body" style="">
				<p><%= $running %></p>
			</div>
		</div>
    </div>
    <br>
    <div class="admin-wrapper">
		<canvas id="myChart" width="600" height="400"></canvas>
    </div>
    <div class="row">
	    <div class="col-sm-6">
	    	<h2>Status codes</h2>
	        <div class="admin-wrapper">
	        	<div class="row">
					<canvas id="chart-area" width="100" height="50"></canvas>
				</div>
	        </div>
	    </div>
	    <div class="col-sm-6">
	        <h2>Redirects average timings</h2>
	        <div class="admin-wrapper">
	        	<div class="row col-sm-6">
					<canvas id="chart-area2" width="40" height="50"></canvas>
				</div>
	        </div>
	    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
</body>
</html>